.error{
    visibility: visible;
    width:100px;
    height:100%;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
#left{
    position:absolute;
    width:50%;
    height:100%;
}
#right{
    position:absolute;
    width:50%;
    height:100%;
    right:0px;
}
#left img{
    position:absolute;
    left:20%;
    top:50%;
    margin-top:-100px;
}
#left:hover{
    cursor: url(../src/image/cursor2.png), auto;
    animation-duration: 0.4s;
    animation-name: LRR;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes LRR {from{left:0px;} to{left:-50px;}}

#right img{
    position:absolute;
    right:20%;
    top:50%;
    margin-top:-100px;
}
#right:hover{
    cursor: url(../src/image/cursor2.png), auto;
    animation-duration: 0.4s;
    animation-name: RLL;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes RLL {from{right:0px;} to{right:-50px;}}