*{
    box-sizing: border-box;
}

html{
    cursor: url(../src/image/cursor.png), auto;
}

body{
    background-color: black;
    background-image: url("../src/image/background.jpg");
    overflow: hidden;
    font-family: 'Baloo Thambi 2', cursive;
}

#profile{
    box-sizing: content-box;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0.6);
    padding: 30px 30px 20px 30px;
    overflow: hidden;
    display: flex;
    background-color: rgba(255,255,255,0.5);
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

#photo{
    margin-right: 20px;
}
#content{
    width: 400px;
    line-height:47px;
    padding-right:20px;
}
#content h1{
    font-size:48px;
    line-height:24px;
}
#school_name{
    line-height:0px;
    font-size:20px;
    color: rgb(50,50,50);
    text-indent: 24px;
    padding-right:10px;
}
#content div h2{
    display:inline;
    margin-right:12px;
    font-size: 31px;
}
#content div a h3{
    color: black;
    font-size: 23px;
    display:inline;
    transition: all 0.3s;
}

#content div a h3:hover{
    color: #D63E02;
    font-size: 28px;
}

#content div a{
    text-decoration: none;
}


#west{
    position:absolute;
    top:50%;
    left:-100%;
    transform:translate(-50%,-50%) scale(0.7);
    padding:30px 30px 20px 30px;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

#west h1{
    margin:0px;
    font-size:42px;
}

.nanum{
    font-family: 'Nanum Gothic', sans-serif;
    width:650px;
    height:250px;
}
#west div div{
    margin-top: 20px;
}
#west div div h2{
    display:inline;
    margin-right:10px;
    font-size:25px;
}
#west div div h3{
    display:inline;
    margin-right:10px;
    font-size:22px;
}
#west div div h4{
    display:inline;
    font-size:18px;
    
}
#east{
    width:830px;
    height:430px;
    position:absolute;
    top:50%;
    left:150%;
    margin-top:-215px;
    margin-left:-415px;
    padding:15px;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
}