*{
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

html{
    cursor: url(../src/image/cursor.png), auto;
}

body{
    background-color: black;
    background-image: url("../src/image/background.jpg");
    overflow: hidden;
}

#waring{visibility: hidden;}
#profile{
    width: 830px;
    height: 430px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-215px;
    margin-left:-415px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    background-color: rgba(255,255,255,0.5);
    flex-direction: row;
}

#photo{
    margin-right: 20px;
}
#content{
    width:380px;
    line-height:47px;
    padding-right:20px;
}
#content h1{
    font-size:48px;
    line-height:24px;
}
#school_name{
    line-height:0px;
    font-size:20px;
    color: rgb(50,50,50);
    text-indent: 24px;
    padding-right:10px;
}

#content div h2{
    display:inline;
    margin-right:12px;
    font-size: 31px;
}
#content div a h3{
    color: black;
    font-size: 23px;
    display:inline;
}

#content div a h3:hover{
    color: #D63E02;
    font-size: 28px;
}

#content div a{
    text-decoration: none;
}


#west{
    width:830px;
    height:430px;
    position:absolute;
    top:50%;
    left:-100%;
    margin-top:-215px;
    margin-left:-415px;
    padding:15px;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
}

#west div h2{
    display:inline;
}
#west div h3{
    display:inline;
}

#east{
    width:830px;
    height:430px;
    position:absolute;
    top:50%;
    left:150%;
    margin-top:-215px;
    margin-left:-415px;
    padding:15px;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
}