*{
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}
html{
    cursor: url(../src/image/cursor.png), auto;
}
body{
    background-color: black;
    background-image: url("../src/image/background.jpg");
}
#content{
    width:86%;
    height:370px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    left:50%;
    top:20px;
    margin-left:-43%;
}
#content h1{
    font-size:32px;
    margin-top:20px;
    margin-bottom: 0px;
}
#school_name{
    display:inline-block;
    position: relative;
    left:50%;
    margin-left:-101px;
    width:202px;
}
#sn_first{
    font-size:13px;
    width:202px;
    display:inline-block;
    margin:0px;
    padding-right:30px;
}
#sn_second{
    font-size:13px;
    width:202px;
    display: inline-block;
    margin:0px;
    padding-left:30px;
}
#content div{
    text-align:center;
    height:40px;
}
#content div h2{
    display:inline;
    margin-right:10px;
    font-size:23px;
}
#content div a h3{
    color:black;
    display:inline;
    font-size:18px;
}

#link a h3:hover{
    color: #D63E02;
}

.static a h3:hover{
    color: #D63E02;
    animation-duration: 3s;
    animation-name: SIZE;
}
@keyframes SIZE{
    from{
        color: #D63E02;
        font-size:20px;
    }
    to{
        color: black;
        font-size:18px;
    }
}

#west{
    width:86%;
    height:490px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    left:50%;
    top:410px;
    margin-left:-43%;
    text-align: center;
    margin-bottom:80px;
}
#west h1{
    margin-top:20px;
    margin-bottom: -10px;
    font-size:32px;
}

#west div div h2{
    margin: 0px;
    margin-top: 10px;
}
#west div div h3{
    font-size:14px;
    margin: 0px;
    margin-top:-3px;
}
#west div div h4{
    margin: 0px;
    margin-top:0px;
    font-size:12px;
}

#content div a{
    text-decoration: none;
}
#photo{visibility: hidden;}
#left{visibility: hidden;}
#right{visibility: hidden;}