#up{
    position:absolute;
    top:20px;
    left:50%;
    margin-left:-100px;
}
#up:hover{
    animation-duration: 0.4s;
    animation-name: UD;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes UD {from{top:20px;} to{top:10px;}}

#down{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-100px;
    visibility: hidden;
}
#down:hover{
    animation-duration: 0.4s;
    animation-name: DU;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes DU {from{bottom:20px;} to{bottom:10px;}}

#left{
    position:absolute;
    left:20px;
    top:50%;
    margin-top:-100px;
}
#left:hover{
    animation-duration: 0.4s;
    animation-name: LRR;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes LRR {from{left:20px;} to{left:10px;}}

#right{
    position:absolute;
    right:20px;
    top:50%;
    margin-top:-100px;
}
#right:hover{
    animation-duration: 0.4s;
    animation-name: RLL;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes RLL {from{right:20px;} to{right:10px;}}

@media(max-height: 630px){
    #up{
        visibility: hidden;
    }
    #down{
        visibility: hidden;
    }
}

@media(max-width: 1030px){
    #left{
        visibility: hidden;
    }
    #right{
        visibility: hidden;
    }
}